 <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <!-- <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li> -->
                    <li class="current"><a href="{{ url_for('index') }}"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
                    <li><a href="{{ url_for('book_events')}}"><i class="glyphicon glyphicon-file"></i> Book Event</a></li>
                    <li><a href="{{ url_for('customers') }}"><i class="glyphicon glyphicon-list"></i> Customers</a></li>
                
                    <li><a href="{{ url_for('banks') }}"><i class="glyphicon glyphicon-pencil"></i> Banks</a></li>
                    <li><a href="{{ url_for('payments') }}"><i class="glyphicon glyphicon-tasks"></i> Payments</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Reports
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="">Tabled Reports</a></li>
                            <li><a href="">Graphical Reports</a></li>
                        </ul>
                    </li>
                </ul>
             </div>
		  </div>