 <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <!-- <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li> -->
                    <li class="current"><a href=""><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-stats"></i> menu1</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-list"></i> menu2</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-record"></i> menu3</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-pencil"></i> menu4</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-tasks"></i> menu5</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Menu
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="">sub-menu1</a></li>
                            <li><a href="">sub-menu1</a></li>
                        </ul>
                    </li>
                </ul>
             </div>
		  </div>